@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Josefin+Sans&display=swap');


:root{
    --clr-pri: #EEF5FF;
    --clr-acc: #B4D4FF;
    --clr-accd: #86B6F6;
    --clr-neu: #176B87;
    --clr-neud: #104F64;
    --clr-bg: #0D3D4E;
    --ft-mono: "JetBrains Mono";
    --ft-pri: "Josefin Sans";
}

*,*::after,*::before{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


/* Default style for hover on links */
a::after{
	content: "";
    display: block;
    background-image: linear-gradient(
		to right, 
		var(--clr-acc),
        var(--clr-acc));
    width: auto;
    height: 0.1vh;
    border-radius: 5px;
    -webkit-transform: scaleX(0.0001);
  	-ms-transform: scaleX(0.0001);
  	transform: scaleX(0.0001);
  	transform-origin: middle;
  	-webkit-transition: -webkit-transform 500ms ease-in-out;
  	transition: transform 500ms ease-in-out;
    
}

a:hover::after,
a:focus::after{
    -webkit-transform: scaleX(1);
  	-ms-transform: scaleX(1);
  	transform: scaleX(1);

}
a:hover,
a:focus{
    color: var(--clr-acc);
}