@import url("/css/base.css");
@import url("/css/navbar.css");
html{
    height:100vh;
    width:100vw;
    background-color: var(--clr-bg);
    overflow: hidden;
    background-color: var(--clr-bg);
    background-image: url("/res/kyle-glenn-gHwDURuSafI-unsplash.jpg");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -2;
}




/* 
==================================
**********************************
Main page styling. 
**********************************
==================================
*/

canvas{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

.background-blur-logo{
    position: fixed;
    bottom: -100px;
    right: -100px;
    filter: blur(15px);
}

main{
    color: var(--clr-pri);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2vw;
    padding-top: 10vh;
    height: 100vh;
    font-family: var(--ft-pri);
    backdrop-filter: blur(10px) saturate(183%);
    -webkit-backdrop-filter: blur(10px) saturate(183%);
    background-color: rgba(66, 66, 66, 0.56);
}

.title{
    font-size: 8vw;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 3vw;
    height: auto;
    gap: 2vh;
}
.first-line{
    display: inline;
    font-family: var(--ft-mono);
    color: var(--clr-acc);
}
.first-line>span{
    color:var(--clr-pri);
    font-family: var(--ft-pri);
}

main>a{
    border-radius: 10px;
    border: 8px solid var(--clr-acc);
    margin-top: 3vh;
    padding: 3vh 5vw; /* Top & bottom __ Right & left */
    color: var(--clr-pri);
    text-decoration: none;
    font-family: var(--ft-mono);
    font-size: 1.5vw;
    background-color: #00000033;
}

/* Responsive */
@media (max-width : 1400px){
    .background-blur-logo{
        right: -200px;
        bottom: -200px;
    }


}
@media (max-width: 900px){
    .title{
        font-size: 10vw;
    }
    .content{
        font-size: 5vw;
    }
    main>a{
        padding: 2vh 6vw;
        font-size: 2vw;
    }
        
}
@media (max-width:600px){
    .title{
        font-size: 16vw;
    }
    .content{
        font-size: 6vw;
        gap: 1vh;
    }
    main>a{
        padding: 2vh 8vw;
        font-size: 3.5vw;
        border: 6px solid var(--clr-acc);

    }
    main{
        padding-left: 3.5vw;
    }
}
@media (max-width: 450px){
    .title{
        font-size: 20vw;
    }
    main>a{
        padding: 2vh 12vw;
        font-size: 4.5vw;
        border: 4px solid var(--clr-acc);
        
    }
}

/* Main content Done! */